body {
    font-family: Calibri, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.6em;
}

* {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 40%;
    min-width: 350px;
    padding: 1%;
    border: 1px solid black;
    background: linear-gradient(45deg, #EECFBA, #C5DDE8);
}

.container input {
    padding: 0 0.5em;
}

.header {
    margin: 10px 0 10px;
    text-align: center;
}

.conversion-button:hover {
    cursor: pointer;
    background: Ivory;
}

.error-NaN, .error-below-absolute-zero, .error-undefined {
    color: red;
    display: none;
}