body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #676565;
    font-size: 16px;
    width: 840px;
    border: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

h1 {
    font-size: 2.12em;
    font-weight: normal;
    margin-left: 21px;
    margin-bottom: 0;
}

form {
    height: 528px;
    background-color: #feeed6;
    padding-left: 21px;
    padding-right: 21px;
    padding-top: 4px;
    font-size: 1em;
}

label {
    font-weight: bold;
    font-size: 1em;
}

input, textarea {
    color: #999999;
    font-size: 1em;
    padding-left: 17px;

}

input {
    width: 98%;
    height: 40px;
    border: 0;
    margin-top: 0.5em;
}

textarea {
    width: 98%;
    height: 128px;
    border: 0;
    margin-top: 0.5em;
    padding-top: 10px;
    margin-bottom: 1em;
}

div {
    margin-top: 1em;
}

button {
    width: 171px;
    height: 37px;
    background-color: #378db2;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: 0;
    float: right;
}