.content {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #676565;
    font-size: 16px;

    width: 90%;
    max-width: 840px;
    margin-left: auto;
    margin-right: auto;

}

.header {
    font-size: 2.12em;
    font-weight: normal;
    margin-left: 21px;
    margin-bottom: 0;
}

.form {
    height: 528px;
    background-color: #feeed6;
    padding-left: 21px;
    padding-right: 21px;
    padding-top: 4px;
}

.form label {
    font-weight: bold;
}

.form input, textarea {
    color: #999999;
    padding-left: 17px;
    width: 98%;
    border: 0;
}

.form input {
    height: 40px;
    margin-top: 0.5em;
}

.form textarea {
    height: 128px;
    margin-top: 0.5em;
    padding-top: 10px;
    margin-bottom: 1em;
}

.form div {
    margin-top: 1em;
}

.form button {
    width: 171px;
    height: 37px;
    background-color: #378db2;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: 0;
    float: right;
}