* {
    box-sizing: border-box;
}

.content {
    width: 90%;
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 5px;

    background: #feeed6;

    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 17px;
    color: #676565;

    text-align: justify;
}

.header {
    font-size: 32px;
    font-weight: normal;
    text-align: left;
    margin-top: 0;
    margin-bottom: 10px;
}

.content p {
    text-indent: 1em;
    line-height: 1.4em;
    margin-top: 0;
    margin-bottom: 12px;
}

.content div {
    margin-top: 0;
    margin-bottom: 10px;
}

div.top {
    margin-bottom: 16px;
}

.crossed {
    text-decoration: line-through;
    line-height: 1.3em;
}

.bluish {
    color: #378db2;
    font-weight: bold;
    font-size: 19px;
}

